<section class="section is-medium container is-max-widescreen">
  <h1 class="title is-1"><%= t("cv_download.title") %></h1>

  <% if notice %>
    <div class="notification is-success"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="notification is-danger"><%= alert %></div>
  <% end %>
</section>
