<section class="section container">
  <h1><%= t 'pages.career.title' %></h1>
  <div class="tl-track"
       data-controller="career"
       data-action="career-entry:opened->career#closeOthers">

    <% @jobs.each_with_index do |job, i| %>
      <%= render partial: "jobs/job", locals: { job: job, first: i == 0 } %>
    <% end %>
  </div>
</section>
