<section class="section is-medium container is-max-desktop">
  <div class="title-row">
    <h1 class="title is-1"><%= t 'pages.career.title' %></h1>
    <div class="subtitle"><%= t 'pages.career.subtitle' %></div>
  </div>

  <div class="career-list">
    <%= render @jobs %>
  </div>
</section>
