<section class="section is-medium container">
  <h1 class="title is-1"><%= t 'pages.career.title' %></h1>
  <h2 class="title is-2"><%= t 'pages.career.subtitle' %></h2>

  <%= render @jobs %>
</section>
