<section class="section is-medium container is-max-desktop">
  <div class="title-row">
    <h1 class="title is-1">Career</h1>
    <div class="subtitle">Where I've been</div>
  </div>

  <div class="career-list">
    <% @jobs.each do |job| %>
      <div class="box job-box">
        <div>
          <p class="job-title"><%= job.title %></p>
          <span class="job-company"><%= job.company %></span>
        </div>
        <span class="job-dates">
          <%= job.start_date.strftime("%b %Y") %> – <%= job.end_date ? job.end_date.strftime("%b %Y") : "Present" %>
        </span>
      </div>
    <% end %>
  </div>
</section>
