<section class="section container">
  <h1><%= t 'pages.career.title' %></h1>
  <h2><%= t 'pages.career.subtitle' %></h2>

  <div class="tl-track mt-5"
       data-controller="career"
       data-action="career-entry:opened->career#closeOthers">

    <% highlights = %w[highlight-legendary highlight-epic highlight-rare highlight-uncommon highlight-common] %>
    <% @jobs.each_with_index do |job, i| %>
      <%= render partial: "jobs/job", locals: { job: job, highlight_class: highlights[i % highlights.length] } %>
    <% end %>
  </div>
</section>
