<div class="sk-card" style="--chip-c: <%= chip_color %>">
  <i class="<%= item.icon %> icon"></i>
  <span class="name"><%= item.name %></span>
  <p class="desc"><%= item.description.strip %></p>
</div>
