<section class="section container">
  <h1><%= t 'pages.projects.title' %></h1>
  <h2><%= t 'pages.projects.subtitle' %></h2>

  <div class="proj-list">
    <% @projects.each_with_index do |project, i| %>
      <%= render "project_row", project: project, index: i %>
    <% end %>
  </div>
</section>
