<section class="section is-medium container is-max-widescreen">
  <h1 class="title is-1"><%= t 'pages.projects.title' %></h1>
  <h2 class="title is-2"><%= t 'pages.projects.subtitle' %></h2>
</section>
