<section class="section is-medium container is-max-widescreen">
  <div class="title-row">
    <h1 class="title is-1"><%= t 'pages.projects.title' %></h1>
    <div class="subtitle"><%= t 'pages.projects.subtitle' %></div>
  </div>
</section>
